header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
dl{
    display: flex;
}
dt{
    padding: 15px;
    color: #ffffff;
}
main h2,h1{
    color: #ffffff;
    text-align: center;
}
main{
    margin: 100px 00px;
}
section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
}
.cartão{
    margin: 10px;
    background-image: linear-gradient(to bottom right, #080808, #0bfa1f);
    padding:10px;
    height: 290px;
    width: 170px;
    text-align: center;
    border-radius: 6px;
}
.cartão:hover{
    scale: 1.3;
    transition: 1.2s;
}
.cartão h2{
 text-decoration: none;
}
section a{
    text-decoration: none;
    color: #080808;
}
body{
    background-image: linear-gradient(to bottom , #080808, #721111);
}
.img:hover{
    scale:0.9;
    transition: 0.2s;
}
dt:hover{
    scale: 0.9;
    transition: 0.1s;
}
dt a{
    text-decoration: none;
    color: #ffffff;
}
